* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #db524d;
}
.app {
    display: flex;
    flex-direction: column;
}
